<h1>Edit Source device</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.source_device_path(@conn, :update, @source_device)) %>

<span><%= link "Back", to: Routes.source_device_path(@conn, :index) %></span>
